In [4]:
#libs analise

from logging import warning
import warnings
import pandas as pd
import numpy as np

#Libs gaficas
import matplotlib.pyplot as plt
import seaborn as sns

#Avisos
import warnings
warnings.filterwarnings('ignore')

#Configuração no pandas
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)
pd.set_option('display.precision',2)

#Configuração matplotlib
plt.rcParams['figure.figsize']= (15,6)
plt.style.use('seaborn-darkgrid')

In [6]:
#Lendo arquivos
df = pd.read_csv('house_data.csv')

#Dimensão
df.shape

(10692, 13)

In [7]:
df.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836

In [9]:
#separando target
target = df['rent amount (R$)']
#excluindo colunas
df.drop(columns=['fire insurance (R$)', 'rent amount (R$)'], inplace=True)

In [12]:
#campos vazios
df.isnull().sum()

city                 0
area                 0
rooms                0
bathroom             0
parking spaces       0
floor                0
animal               0
furniture            0
hoa (R$)             0
property tax (R$)    0
total (R$)           0
dtype: int64

In [13]:
#campos unicos
df.nunique()

city                    5
area                  517
rooms                  11
bathroom               10
parking spaces         11
floor                  35
animal                  2
furniture               2
hoa (R$)             1679
property tax (R$)    1243
total (R$)           5751
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               10692 non-null  object
 1   area               10692 non-null  int64
 2   rooms              10692 non-null  int64
 3   bathroom           10692 non-null  int64
 4   parking spaces     10692 non-null  int64
 5   floor              10692 non-null  object
 6   animal             10692 non-null  object
 7   furniture          10692 non-null  object
 8   hoa (R$)           10692 non-null  int64
 9   property tax (R$)  10692 non-null  int64
 10  total (R$)         10692 non-null  int64
dtypes: int64(7), object(4)
memory usage: 919.0+ KB

In [18]:
Colunas_Categoricas = df.columns[df.dtypes ==object]
Colunas_Numericas = df.columns[df.dtypes !=object]
Colunas_Categoricas, Colunas_Numericas

(Index(['city', 'floor', 'animal', 'furniture'], dtype='object'),
 Index(['area', 'rooms', 'bathroom', 'parking spaces', 'hoa (R$)',
        'property tax (R$)', 'total (R$)'],
       dtype='object'))

In [16]:
df.columns[df.dtypes !=object]

Index(['area', 'rooms', 'bathroom', 'parking spaces', 'hoa (R$)',
       'property tax (R$)', 'total (R$)'],
      dtype='object')